@media(min-width:320px) and (max-width:360px)
{
    .cb-navbar-menu-nav-item {    font-size: 21px;}
    .languages li a {    font-size: 12px;}
    .cb-social-item {    font-size: 24px;    margin: -6px 6px;}
    .cb-navbar-menu-nav > .cb-navbar-container {    padding: 0 7px;    margin-top: -27px;}
    #section_1 h3 {    font-size: 31px;}
    #section_1 h2 {    font-size: 36px;}
    #section_1-2 .cb-text.-xl {    font-size: 22px;    line-height: 40px;  color: white;}
    #section_1 .cb-featured-body {    padding-top: 21%;}
    #section_1-2 .cb-featured-body {    padding-top: 18%;}
    #section_2 .cb-featured-body .cb-container.-lg {    width: 100%;}
    #section_2 h1 {    font-size: 19px;     margin-top: 39px;}
    #section_2 h1 strong {    font-size: 20px;}
    #section_4 img {    width: 102%;}
    #section_4 .cb-container {    padding-top: 20px;}
    .inside_page h1 {    font-size: 21px;}
    .inside_page p {    font-size: 11.4px !important;}
    .inside_page img {    width: 96%;}
    #inside_page .cb-featured-body {    width: 100%;    background: #00000052;    padding-top: 81px;}
	/*new*/
	.key_msg_2-1 {    font-size: 20px;    line-height: 33px;}
	.key_msg_2-2 {    font-size: 20px;}
	.timer {    padding-bottom: 22px !important;   margin: 38px 0 44px !important;}
	.fttimes { font-size: 20px; }
	.datehd, .para_time { font-size:19px;}
	.datehd strong { font-size:15px;}
	#section_2 .cb-featured-body {    margin-top: 11%;}
	#section_3 .cb-container.-lg {    margin-top: 0;}
	#section_3 p {    margin-bottom: 6px;    font-size: 16px;    line-height: 17px;}
	#section_3 h1 {    margin-bottom: 10px;}
	#section_5 p {    font-size: 11px;    margin: 5px 0;    line-height: 14px;}
	#section_5 iframe {    height: 176px;}
	.cb-loader_overlay-img svg {    width: 43%;    margin-top: -29px;}
	#view-main.gallery-main .cb-intro-body {     position: relative;   top: 100px;    width: 100%;}
	#view-main.gallery-main .cb-intro-body a {    text-align: center;    margin-bottom: 7px;}
	#view-main.gallery-main .cb-illustration.-man {   width: 259px;   right: 26px;}
	#view-main.gallery-main .body-lang-ar .cb-illustration.-man {   right: 26px;}
	#view-main.gallery-main .cb-btn_view-text span {    font-size: 21px;}
	#view-main.gallery-main  #image-gallery div {    margin: 16vh 3px;}	
	.gallery-s-p {    background: #092929;}
	#view-main.gallery-main h1:after{display:none;}
	.languages {    float: right;    margin-top: -7px;}
	#view-main.gallery-main .cb-intro {    min-height: 771px;}
	#section_3 .cb-featured-body, #section_4 .cb-featured-body {    padding-top: 22%;}
	.cb-featured {    height: 100vh;}
.body-lang-ar #section_1 h3, .body-lang-ar .key_msg_2-1, .body-lang-ar #section_3 h1, .body-lang-ar #section_2.inside_page h1, .body-lang-ar #section_1.inside_page h1 {
    font-size: 30px;}
	#section_5 .cb-featured-body {    padding-top: 38%;}

}
@media(min-width:361px) and (max-width:414px)
{
	/*new*/
	.key_msg_2-1 {    font-size: 26px;    line-height: 47px;}
	.key_msg_2-2 {    font-size: 24px;     line-height: 39px;}
	.timer {    padding-bottom: 22px !important;   margin: 38px 0 44px !important;}
	.fttimes { font-size: 20px; }
	.datehd, .para_time { font-size:19px;}
	.datehd strong { font-size:22px;}
	#section_2 .cb-featured-body {    margin-top: 11%;}
	#section_3 .cb-container.-lg {    margin-top: 0;}
	#section_3 p {    margin-bottom: 6px;    font-size: 14px;    line-height: 15px;}
	#section_3 h1 {    margin-bottom: 10px;}
	#section_5 p {    font-size: 17px;    margin: 5px 0;    line-height: 21px;}
	#section_5 iframe {    height: 176px;}
	#section_4 img {    width: 112%;}
	#section_1 h2, #section_1 h3 {    font-size: 40px;}
	.cb-loader_overlay-img svg {    width: 63%;    margin-top: -85px;}
	 .cb-social-item {    font-size: 24px;    margin: -6px 6px;}
    .cb-navbar-menu-nav > .cb-navbar-container {    padding: 0 7px;    margin-top: -27px;}
	.cb-navbar-menu-nav-item {    font-size: 24px;}
	#section_1 .cb-featured-body, #section_1-2 .cb-featured-body {    padding-top: 110px;}
	#view-main.gallery-main .cb-intro {    min-height: 920px;}
	#view-main.gallery-main .cb-intro-body {     position: relative;   top: 100px;    width: 100%;}
	#view-main.gallery-main .cb-intro-body a {    text-align: center;    margin-bottom: 7px;}
	#view-main.gallery-main .cb-illustration.-man {   width: 259px;   right: 77px;}
	#view-main.gallery-main .cb-btn_view-text span {    font-size: 21px;}
	#view-main.gallery-main  #image-gallery div {    margin: 16vh 3px;}	
	.gallery-s-p {    background: #092929;}
	#view-main.gallery-main h1:after{display:none;}
	.languages {    float: right;    margin-top: -7px;}
	#section_2.inside_page p, #section_1 p {margin-bottom: 20px;    font-size: 18px;}
	#section_3.inside_page p {margin-bottom: 20px;    font-size: 19px;    	 line-height: 21px;}
	
}

@media(min-width:415px) and (max-width:767px)
{
	#section_1 h3 {    font-size: 33px;}
	.cb-featured {    height: 100%;}
	.key_msg_2-2 {    font-size: 36px;    line-height: 1.3;}
	.key_msg_2-1 {font-size: 33px;   line-height: 44px;}
	.timer{margin:28px 0 13px !important;}
	#section_3 .cb-featured-body {    padding-top: 0;}
	#section_3 .cb-container.-lg {    margin-top: 65px;}	
	#section_3 p, #section_2.inside_page p, #section_1 p {    margin-bottom: 4px;    font-size: 17px;    line-height: 20px;}
	#section_4 img {width: 100%;}
	#section_5 .cb-featured-body {    padding-top: 66px;}
	#section_5 p {    font-size: 16px;    margin: 0px 0;    line-height: 21px;}
	div#section_5 iframe {    height: 177px;}	
}/*END*/


@media screen and (min-width:812px)
{
	
}


@media(min-width:768px) and (max-width:800px) /*ipad */
{
    .cb-featured {    height: 100%;}
    .cb-featured-letter {    display: block;}
    .cb-featured-body {		padding-top:  218px;}
	.cb-featured {    height: 66vh !important;}
    #section_3 .cb-featured-body {    padding-top: 0px;}
    #section_4 .cb-container.-lg{ padding: 0 200px;}
    #section_4 .cb-featured-body, #section_5  .cb-featured-body {    padding-top: 228px;}
    #inside_page .cb-featured {    height: 100%;    background: #02020294;}
    #inside_page .cb-featured-body {padding: 33vh 0 0 0;}
	.the_venue_inside iframe {    min-height: 412px;}
	#section_1-2 .cb-container .-lg {    padding: 0 488px 0px 60px;}
	.cb-loader_overlay-img svg {    width: 44% !important;    margin-top: -140px;}    
	.cb-featured-preview, .cb-featured-letter {    display: none;}  
	#section_1 h3 {    font-size: 41px;	}
	#section_1 h2 {    font-size: 56px;}
	.key_msg_2-1 {    font-size: 36px;    line-height: 53px;}
	.key_msg_2-2 {    font-size: 33px;    line-height: 46px;}
	.timer {    margin: 37px 0 3px !important;}
	#section_3 .cb-container.-lg {    margin-top: 72px;}
	#section_3 .cb-container.-lg {   padding: 0 36px;}
	#section_3 p, #section_2.inside_page p, #section_1 p   {  margin-bottom: 23px;    font-size: 20px;    line-height: 31.7px;}
	#section_5 .cb-container.-lg {   padding: 0 43px;}
	#section_5 p {    font-size: 21px;    margin: 8px 0;    line-height: 31px;}
	#section_5  .fttimes {    font-size: 25px;}
	#section_5 .cb-text iframe {    margin-top: 7px;    height: 204px;}
	.gallery-main .cb-intro {min-height: 922px;}
	.gallery-main .cb-intro-body {    height: 0;}
	.gallery-main .cb-intro-more { font-size: 14px;}
	#view-main.gallery-main h1:after{ display:none;}
	#section_3.inside_page h1 {    margin-top: 65px;}
	.body-lang-ar #section_2 .cb-featured-body {    padding-top: 131px;}
	.body-lang-ar  .cb-illustration.-man {    width: 384px;}
}/*end*/

@media(min-width:800px) and (max-width:812px) /*iphone x landscape*/
{
    .cb-featured {    height: 100%;}
    .cb-featured-letter {    display: block;}
    .cb-featured-body {		padding-top:  84px;}
    #section_3 .cb-featured-body {    padding-top: 0px;}
    #section_4 .cb-container.-lg{ padding: 0 200px;}
    #section_4 .cb-featured-body, #section_5  .cb-featured-body {    padding-top: 92px;}
    #inside_page .cb-featured {    height: 100%;    background: #02020294;}
    #inside_page .cb-featured-body {padding: 33vh 0 0 0;}
	.the_venue_inside iframe {    min-height: 412px;}
	#section_1-2 .cb-container .-lg {    padding: 0 488px 0px 60px;}
	.cb-loader_overlay-img svg {    width: 44% !important;    margin-top: -140px;}    
	.cb-featured-preview, .cb-featured-letter {    display: none;}  
	#section_1 h3 {    font-size: 41px;	}
	#section_1 h2 {    font-size: 56px;}
	.key_msg_2-1 {    font-size: 36px;    line-height: 53px;}
	.key_msg_2-2 {    font-size: 33px;    line-height: 46px;}
	.timer {    margin: 37px 0 3px !important;}
	#section_3 .cb-container.-lg {    margin-top: 72px;}
	#section_3 .cb-container.-lg {   padding: 0 36px;}
	#section_3 p, #section_2.inside_page p, #section_1 p {    margin-bottom: 4px;    font-size: 17px;    line-height: 24.7PX;}
	#section_5 .cb-container.-lg {   padding: 0 43px;}
	#section_5 p {    font-size: 17px;    margin: 0px 0;    line-height: 23px;}
	#section_5  .fttimes {    font-size: 25px;}
	#section_5 .cb-text iframe {    margin-top: 7px;    height: 132px;}
	.gallery-main .cb-intro { height: 920px;}
	#view-main.gallery-main h1:after{ display:none;}
	.cb-navbar-menu-nav > .cb-navbar-container {    margin-top: -278px;}
	.cb-navbar-menu-nav-item {    padding: 0px 0;    font-size: 22px;    letter-spacing: .00464286em;    line-height: 24px;    text-align: right;}
	.cb-navbar-menu-social {    bottom: 425px;}
	#section_2.inside_page .cb-container.-lg{    padding: 0 41px;}
	#section_3.inside_page h1, #section_2.inside_page h1, #section_1.inside_page h1 {    margin-bottom: 4px;}
}/*end*/

@media(min-width:813px) and (max-width:1024px)
{
    .cb-featured {    height: 100%;}
    .cb-featured-letter {    display: block;}
   #section_1  .cb-container.-lg {   width: 54%;}
   .datehd {    font-size: 24px;}
   .datehd strong {    font-size: 23px;}
   #section_3 .cb-container.-lg {    width: 61%;}
   #section_5 .cb-container.-lg {    width: 59%;}
	.the_venue_inside iframe {    height: 741px;}
    .cb-loader_overlay-img svg {    width: 44% !important;    margin-top: -140px;}       
	#section_1 h3 {    font-size: 38px;	}
	#section_1 h2 {    font-size: 51px;}
	 #section_1-2 .cb-container.-lg { padding: 0 490px 30px 79px;}
	 #section_2.inside_page .cb-container.-lg { padding: 0 490px 30px 79px;}
	 .cb-navbar-menu-nav-item {    padding: 0px 0;}
	 #view-main.gallery-main h1:after{display:none;}
	 .gallery-main p {    font-size: 12px;}
}/*end*/

@media (min-width:374px) and (max-width:375px){ /*iphonex*/
    .cb-navbar-container li { margin: -6px 0;}
}

@media screen and (max-height:450px)
{

}

@media(min-width:992px) and (max-width:1282px)
{
}


@media (min-width:1364px) and (max-width:1366px) {
#section_1-2 .cb-text.-xl {    font-size: 26px;}
#section_1 h2 {    font-size: 54px;}
#section_1 h3 {    font-size: 46px;}
.cb-navbar-menu-nav-item {    padding: 2px 0;}
.cb-navbar-menu-nav-item {    font-size: 29px;}
#section_4 img {    width: 102%;}
	.the_venue_inside .cb-container {    padding: 0 49px;}
	.the_venue_inside iframe {    height: 320px;}
	/*new*/
	.key_msg_2-1 {    font-size: 41px;     line-height: 57px;}
	.key_msg_2-2 {    font-size: 41px; line-height: 48px;}
	#section_3 p, #section_2.inside_page p, #section_1 p { margin-bottom: 14px;    font-size: 16px;}
	#section_3 h1, #section_2 h1, #section_1 h1 {    margin-bottom: 10px;}
	#section_5 p { font-size: 16px;    margin: 8px 0;}
	#section_5 h1 {    margin-top: 69px;}
	.cb-navbar-menu-nav a {    height: 48px;}
	#view-main.gallery-main img {    width: 67%;    margin-left: 20%;}
	#view-main.gallery-main h1:after {    width: 472px;}
	#view-main.gallery-main .body-lang-ar h1:after {    width: 386px;}
	.body-lang-ar #section_1 h3, .body-lang-ar .key_msg_2-1, .body-lang-ar #section_3 h1, .body-lang-ar #section_2.inside_page h1, .body-lang-ar #section_1.inside_page h1 {
    font-size: 37px;
}
}

/*24 inch screen 1920 x 1080 */
@media (min-width:1920px) {
	.inside_page p {    font-size: 23px;}
	.inside_page h1 {    font-size: 39px;    text-transform: uppercase;}
	.-color-ewa-bg, .section_1-2-bg, .section-4-bg, .section-5-bg {    background-size: cover !important;}
	.inside_page img {    width: 73%;    height: 79px;}
	.the_venue_inside iframe {    height: 744px;}
	
}

@media (min-width:375px) {
		.cb-featured { height: 100vh}
}